@media (min-width: 1200px) {
    .navmenu {
        padding: 0;
        margin-left: auto;
        margin-right: 20px;
    }
}



.card-custom {
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.card-img-left {
    width: 140px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}
.card-body-custom {
    padding: 0.5rem 1rem;
}
.status-badge {
    background-color: #ffc107;
    color: #000;
    font-size: 0.85rem;
    padding: 4px 10px;
    border-radius: 6px;
}
.action-btns .btn {
    font-size: 0.85rem;
    margin-right: 6px;
    border-radius: 8px;
}
.action-btns .btn:disabled {
    opacity: 0.6;
}